# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{cake,cs,ps1}]
indent_size = 4

[*.cs]
dotnet_diagnostic.SA1101.severity = none  # no `this.` prefix for local calls
dotnet_diagnostic.SA1633.severity = none  # no file headers

[*.sh]
end_of_line = lf
