.vs
.vscode

*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Tt]est[Rr]esults/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
tools/
.NCrunch_*/
nCrunchTemp_*.csproj
**/.idea/**/workspace.xml
**/.idea/**/projectSettingsUpdater.xml
