@use 'sass:math';
@import '../../styles/animations';
@import '../../styles/colors';
@import '../../styles/layout';

.hamburger {
  &, &:after, &:before {
    display: block;
    height: math.div($base-size, 8);
    position: absolute;
    transition: all $animation-duration;
  }

  & {
    left: 20%;
    margin-top: math.div($base-size, -16);
    text-indent: -9999px;
    top: 50%;
    width: 60%;
  }

  &:after, &:before {
    background-color: $white;
    content: '';
    width: 100%;
  }
}

.hamburger-active {
  background-color: transparent;
  composes: hamburger;

  &:after {
    top: 0;
    transform: rotate(225deg);
  }

  &:before {
    top: 0;
    transform: rotate(135deg);
  }
}

.hamburger-inactive {
  background-color: $white;
  composes: hamburger;

  &:after {
    top: -300%;
  }

  &:before {
    top: 300%;
  }
}
