@import '../../styles/colors';
@import '../../styles/layout';

.stripe {
  align-items: center;
  background-color: $accent-gray;
  display: flex;
  height: 3em;
  padding: 0.5em;

  > * {
    margin-right: 0.5em;
  }
}

.version {
  border: 0.05em solid $blue;
  border-radius: 0.25em;
  font-size: 85%;
  margin-right: 0.5em;
  padding: 0.1em 0.4em;

  &:hover {
    border-color: $dark-blue;
  }
}

@media (min-width: $large-breakpoint) {
  .stripe {
    padding: 0.5em 1em;
  }
}
