@import '../styles/layout';
@import '../styles/typography';

.hero {
  font-family: $heading-font-family;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0.5em 0;
}

@media (min-width: $large-breakpoint) {
  .hero {
    font-size: 2em;
    margin-top: 2em;
  }
}
