@import '../../styles/colors';
@import '../../styles/typography';

.column {
  width: 12em;
}

.component {
  text-align: center;
}

.iteration-count {
  color: $gray;
  font-size: 0.8em;
}

.missing {
  color: $gray;
  text-align: center;
}

.result {
  font-family: $code-font-family;
  text-align: right;
}

.suite {
  text-align: center;
}
