$black: #101820;
$black: #101820;
$dark-gray: #63666a;
$gray: #a7a8aa;
$light-gray: #c8c9c7;
$accent-gray: #d7d8da;
$off-white: #f7f8fa;
$white: #fff;

$dark-blue: #004986;
$blue: #0086d6;
$light-blue: #00a3e0;
