@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600,700');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400,400italic,600,700');

@import 'animations';
@import 'colors';
@import 'layout';
@import 'typography';

*, *:after, *:before {
  box-sizing: inherit;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color $animation-duration;

  &:hover {
    color: $dark-blue;
  }
}

body {
  background-color: $dark-gray;
  color: $black;
  font-family: $body-font-family;
  font-size: $base-size;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;

  -webkit-font-smoothing: antialiased;
}

code, pre {
  font-family: $code-font-family;
}

code {
  font-size: 0.95em;
  padding: 0.1em;
}

figure {
  margin: 0;
}

h1, h2, h3, h4 {
  color: $dark-gray;
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 1em 0em 0.5em;
}

h1 {
  font-size: 1.667em;
  margin-top: 0;
}

h2 {
  font-size: 1.333em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-family: $body-font-family;
  font-size: 1em;
  font-weight: 700;
  margin: 1em 0em 0.25em;
}

html {
  box-sizing: border-box;
}

pre {
  background-color: $off-white;
  border-radius: 0.25em;
  line-height: 1.4;
  overflow-x: auto;
  padding: 0.5em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  width: 100%;

  pre {
    background: none;
    margin: 0;
    padding: 0;
  }
}

tbody tr:nth-of-type(2n) {
  background-color: $off-white;
}

td, th {
  border: 0.05em solid $accent-gray;
  padding: 0.25em 0.75em;
}

th {
  font-weight: 600;
}
