name: Docs

on: push

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    name: Build documentation site
    runs-on: ubuntu-latest
    steps:
      - name: Pull code
        uses: actions/checkout@v6
      - name: Use Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12.x
      - name: Install dependencies
        run: pip install mkdocs=='1.6.0' mkdocs-material=='9.5.22'
      - name: Build site
        run: mkdocs build --site-dir "$RUNNER_TEMP/site"
      - name: Set up GitHub Pages
        uses: actions/configure-pages@v5
      - name: Upload generated docs
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ runner.temp }}/site
  deploy:
    name: Deploy documentation site
    environment:
      name: GitHub Pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      actions: read
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
