name: Test

on: push

jobs:
  test:
    name: Run library tests
    strategy:
      matrix:
        include:
          - target: net462
            os: windows-latest
          - target: net8.0
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    steps:
      - name: Pull code
        uses: actions/checkout@v3
      - name: Use .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
      - name: Run unit tests
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          set -xe

          test_directory=tests
          test_flags="--framework ${{ matrix.target }}"

          dotnet test $test_flags "$test_directory\\Chr.Avro.Tests"
          dotnet test $test_flags "$test_directory\\Chr.Avro.Binary.Tests"
          dotnet test $test_flags "$test_directory\\Chr.Avro.Json.Tests"
          dotnet test $test_flags "$test_directory\\Chr.Avro.Confluent.Tests"
          dotnet test $test_flags "$test_directory\\Chr.Avro.Codegen.Tests"
        shell: bash
